{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load app_filters %}

{% block "title" %}{{country.name}} Profile | {% endblock %}

{% block "content" %}
<main id="main_container" class="padding2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'country' country.code %}">{{country.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
        <hr class="border-primary border-3 opacity-25">
        <div class="row">
            <div class="col-md-8 col-lg-9 order-md-2">
                {% for domain in domain_list %}
                    <div class="accordion" id="descripion_{{domain.id}}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_{{domain.id}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{domain.id}}" aria-expanded="true" aria-controls="collapse_{{domain.id}}">
                                    <h2 id="d{{domain.id}}"><b>Domain {{ domain.number }}:</b> <small>{{ domain.name }}</small></h2>
                                </button>
                            </h2>
                            <div id="collapse_{{domain.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{domain.id}}" data-bs-parent="#descripion_{{domain.id}}">
                                <div class="accordion-body">
                                    {{ domain.description|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </div> <br>

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>C{{ forloop.counter }}</th>
                                <th>{{ domain.name }}</th>
                                <th>PAHO data</th>
                                <th>Public data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for indicator in indicator_list %}
                                {% if indicator.domain == domain %}
                                    {% if indicator.type == 2 and indicator.code|slice:"2:" == '.1' %}
                                        <tr class="table-warning">
                                            <td>SI</td>
                                            <td colspan="3" class="text-center">Supplementary Indicators</td>
                                        </tr>
                                        <tr class="table-warning">
                                            <td>S{{ domain.number }}</td>
                                            <td colspan="3" class="text-center">{{ domain.name }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>{{ indicator.code }}</td>
                                        <td>{{ indicator.name }}</td>
                                        {% if country_indicators_ids|has_data:indicator.code %}
                                            {{ country_indicators_data|display_data:indicator.code|safe }}
                                            <td>
                                                <a href="#" onclick="javascript:open_update_data('{{country_indicators_ids|get_country_indicator_id:indicator.code}}', 'update'); return false">edit</a>
                                            </td>
                                        {% else %}
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a href="#" onclick="javascript:open_update_data('{{country_indicators_ids|get_country_indicator_id:indicator.code}}', 'create'); return false">edit</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <hr class="border-primary border-3 opacity-25">
                    <div>
                        <small>
                            <b>References </b>
                            <ul style="list-style-type:none">
                                {{ country_indicators_data|display_reference_list:domain|safe }}
                            </ul>
                        </small>
                    </div>
                    <hr class="border-primary border-3 opacity-25">

                {% endfor %}
            </div>
            <div class="col-md-4 col-lg-3 order-md-1 flag-title">
                <div class="sticky-top">
                    <div class="row">
                        <div class="col-3"><img src="{% static 'img/' %}{{country.code}}-flag.jpg" class="img-fluid rounded" alt=""></div>
                        <div class="col-9"><h1>{{country.name}}</h1></div>
                    </div>
                    <hr class="border-primary border-3 opacity-25">
                    <ul class="nav flex-column nav-pills">

                        {% for domain in domain_list %}
                            <li class="nav-item">
                                <a class="nav-link  {% if forloop.first %}active{% endif %}" aria-current="page" href="#d{{domain.id}}">
                                    <b>Domain {{ domain.number }}:</b> <small>{{ domain.name }}</small>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                    <br>
                    <a aria-controls="offcanvasExample" data-bs-toggle="offcanvas" href="#offcanvasExample" class="btn btn-warning">See other country</a>

                    {% include "main/select_country.html" %}

                    <hr class="border-primary border-3 opacity-25">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}


{% block "extrajs" %}
<script src="{% static 'js/update.js' %}"></script>

<script>
    jQuery( ".nav-item" ).click(function() {
        jQuery(".nav-link").removeClass('active');
        jQuery(this).find(".nav-link").toggleClass('active');
    });
</script>
{% endblock %}
