{% load static %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Chance country</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <table class="table table-bordered">
          {% for profile in profile_list %}
            {% if profile.country.code != country.code %}
                <tr>
                    <td width="50"><img src="{% static 'img/' %}{{profile.country.code}}-flag.jpg" class="img-fluid rounded" alt=""></td>
                    <td><a href="{% url 'profile' profile.country.code %}" target="_blank">{{ profile.country.name }}</a></td>
                </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>